<div class="content clearfix" id="courses">
  <%= render @courses %>
</div>

<%= form_for Course.new, html: {class: "new-course"} do |f| %>
  <div class="fileupload-btn button primary">
    <%= f.label :cover, "Upload course covers" %>
    <%= f.file_field :cover, multiple: true, name: "course[cover]" %>
  </div>
<% end %>
