<div class="content clearfix">
  <div class="course">
    <%= image_tag @course.cover_url(:thumb) %><br>
    <%= @course.name %><br>
    <p><%= link_to "edit", edit_course_path %></p>
  </div>
</div>
